@model Presidiario

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

<form>
    <div class="form-group">
        <label asp-for="DataEntrada"> </label>
        <input asp-for="DataEntrada" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="DataSaida"> </label>
        <input asp-for="DataSaida" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NivelEscolaridade"> </label>
        <select asp-for="NivelEscolaridade" class="form-control" asp-items="@Html.getEnumSelectList<NivelEscolaridade>()" >
            <option></option>
        </select>
    </div>

</form>

